---
layout: default
---

<div class="header" align=middle>
    <center>
        <h1> Baremetallics </h1>
        <h2> I try to develop embedded systems.</h2>
    </center>
    <!--    <img src="/images/logo.png" alt="baremetallics banner"> -->
  <br>
  <br>
</div>

<!-- Projects Section -->
<div class="blog">
    <center><h2 style="font-weight: bold;" > Projects </h2></center>
    <ul class="project-list">
        <li>
            <a href="https://github.com/daleonpz/POC_CV_tinyml" target="_blank">
                <i class="fa fa-github"></i> Screw Type Detection Using ESP-EYE with a Camera and TensorFlow Lite Micro
            </a>
        </li>
        <li>
            <a href="https://dagshub.com/daleonpz/stwin_AI_vowel_recognition" target="_blank">
                <i class="fa fa-github"></i> Hand Movements Recognition with IMU and Machine Learning
            </a>
        </li>
        <li>
            <a href="https://github.com/daleonpz/iot_cloud_infrastructure" target="_blank">
                <i class="fa fa-cloud"></i> Simple IoT Cloud Infrastructure with Docker Compose
            </a>
        </li>
        <li>
            <a href="https://github.com/daleonpz/cmake-project-skeleton" target="_blank">
                <i class="fa fa-code"></i> CMake Project Skeleton
            </a>
        </li>
    </ul>
</div>

<!-- Blog Posts Section -->
<div class="blog">
    <center><h2> Recent Posts</h2></center>
    <ul class="post-list">
        {% for post in site.categories.programming limit: 5 %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> – 
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <div style="text-align: right;">
        <a href="/programming">View all posts →</a>
    </div>
</div>

<!--
<div class="header">
    <hr>
    <center><h2> Look at me, I'm an emoji ヘ（。□°）ヘ </h2></center>
    <hr>
</div>
-->


<div class="header__social_media" align="middle">
    <p>
        {% include social_media.html %}
    </p>
</div>

