---
layout: default
---

<div class="header" align=middle>
    <center>
        <h1> Baremetallics </h1>
        <h2> I try to develop embedded systems.</h2>
    </center>
    <!--    <img src="/images/logo.png" alt="baremetallics banner"> -->
</div>

<div class="header__subscription" align="middle">
    <p>
        {% include subscription.html %}
    </p>
</div>


<!-- Blog Posts Section -->
<div class="blog">
    <ul class="post-list">
        {% for post in site.categories.programming limit: 5 %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> – 
            <a href="{{ post.url }}">{{ post.title }}</a>
            <p class="post-excerpt">{{ post.excerpt | strip_html | truncate: 160 }}</p>
        </li>
        {% endfor %}
    </ul>
    <div style="text-align: right;">
        <a href="/programming">View all posts →</a>
    </div>
</div>

<!--
<div class="header">
    <hr>
    <center><h2> Look at me, I'm an emoji ヘ（。□°）ヘ </h2></center>
    <hr>
</div>
-->



