---
layout: default
title: Books recommendations 
description: Embedded systems related books recommendations
---

<div class="header">
    <hr>
    <h1 align=middle> Book List</h1>
    <h2 align=middle> Improve your craft</h2>
    <h2 align=middle> with this list</h2>
    <hr>    
</div>

<div class="header__subscription" align="middle">
    {% include  subscription.html %}
</div>

<div class="book_list">
    <div id="book_list" >
        {% for item in site.data.books %}
            <p>
                <a href="{{ item.destination }}">
                    <img src="{{ item.image }}" alt="{{item.title}}">
                </a>
                <a href="{{ item.destination }}">
                    {{ item.title }}
                </a>
                <br>
                <b> {{ item.tag }} </b>
                <br>
                <li> {{ item.description }} </li>
                <br><br>
            </p>
        {% endfor %}
    </div>
</div>


<hr>

<div align="middle">
        {% include social_media.html %}
</div>
