<ul class="share-buttons" align="center">
  <!-- Reddit -->
  <li>
    <a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}"
       target="_blank" title="Submit to Reddit"
       onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">
      <i class="fa fa-reddit-square fa-2x" aria-hidden="true"></i>
    </a>
  </li>

  <!-- LinkedIn -->
  <li>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}"
       target="_blank" title="Share on LinkedIn"
       onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' + encodeURIComponent(document.title)); return false;">
      <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
    </a>
  </li>
</ul>

