---
layout: default
title: About Us
description: About Baremetallics
---

<div class="header">
    <hr>
    <h1 align=middle> About Us</h1>
    <h2 align=middle> Why we care</h2>
    <hr>    
</div>

<div class="header" align=middle>
Embedded Systems are cool and fun. And more than anything else, easy.<br><br>
    But it's a sad fact that most of the content is not easy to process. 
    Specially for a beginner.<br><br> 
    We are a community that strives to spread knowledge. <br>
    Our <b>goal is to make </b>our content as easy as possible to understand. <br><br>
    We don't want you to decipher tutorials, guides or books to learn what's in them. 
 
</div>

<div class="header">
    <hr>
    <h1 align=middle> How Can You Take Part</h1>
    <h2 align=middle> in the Community </h2>
    <hr>    
    <h3 align=middle>  Spread the Word</h3>
    <p align=middle>
    Let people know about this proyect.<br>
    And how can they <a href="https://www.patreon.com/baremetallics">support us</a>.<br><br>
    </p>

    <h3 align=middle> Write a Post</h3>
    <p align=middle> 
        You can also write a post or tutorial. There are two ways to do it:<br>
    </p>
    <b> 1. Send us an email:</b><br>
    &nbsp; &nbsp; Write a post in Markdown format and send us by mail to <a href="mailto:support@baremetallics.com">support@baremetallics.com</a>.<br>

    &nbsp; &nbsp; You can find the template with instructions <a href="https://raw.githubusercontent.com/daleonpz/baremetallics/master/_drafts/2017-02-04-getting-started.md" target="blank" >here</a>.<br>
    &nbsp; &nbsp; 
    <br><br>
    
    <b> 2. Create a pull request on <a href="https://github.com/daleonpz/baremetallics">Github.</a></b> <br>
    &nbsp; &nbsp; Detailed instructions are not yet ready. But we'll post it soon ;). <br><br>

</div>

<hr>

<div class="header__subscription" align="middle">
    {% include  subscription.html %}
</div>

<div align="middle">
        {% include social_media.html %}
</div>
