---
layout: default
title: Topics
description: Main Topics or Areas in embedded systems
---


<div class="header" align=middle>
    <hr>
    <h1> Main Topics</h1>
    <h2> Enjoy Leaning All Of Them</h2>
    <hr>    
</div>
<div class="header__subscription" align="middle">
    {% include  subscription.html %}
</div>


<div class="header">
   
    <p>
    We know that <b>it's hard to learn something new.</b> Know where to start is maybe the hardest part.<br><br>

    We've put together our posts in topics. So you could have an easy path.<br><br>
    
    </p>
    <a href="/topics/top-books" align=middle>- Book recommendations:</a> Take advantage of others experience in just hours.<br><br>
    <a href="/topics/test-driven-development-essentials" align=middle>- Test-Driven Development Essentials:</a> Learn the basics of TDD with examples. So you can start applying this approach right now.<br><br>
    <a href="/topics/docker-essentials" align="middle">- Docker Essentials:</a> Tame your microcontroller. Learn how to use Docker as a development tool.<br><br>
    <a href="/topics/ada-journey" align=middle>- Let's Learn Ada Together:</a> Learn Ada. Look at another way, but maybe the best, of developing embedded systems.<br><br>


</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="/assets/js/myFunction.js" type="text/javascript"></script>

<hr>

<div align="middle">
        {% include social_media.html %}
</div>

